<div id="content-core">
  <div id="login-form">
    <div class="field">
      <label for="__ac_name">Login Name</label>
      <input class="username" type="text" size="15" name="__ac_name" id="__ac_name" value=""
             [(ngModel)]="username">
    </div>
    <div class="field">
      <label for="__ac_password">Password</label>
      <input class="password" type="password" size="15" name="__ac_password" id="__ac_password"
             [(ngModel)]="password">
    </div>
    <div class="formControls">
      <button class="context submitLogin" type="submit" (click)="onLogin()">Submit</button>
    </div>
  </div>
</div>
