/* line 12, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone {
  position: fixed;
  height: 100%;
  width: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  font-weight: 400;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: sans-serif;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  /*logo*/
  /*first-level*/
  /*second-level*/
}
/* line 24, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone a {
  color: #007bb3;
  text-decoration: none;
  display: block;
  outline: 0;
}
/* line 32, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-logo {
  background: #005880;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}
/* line 41, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-logo:after {
  content: "";
  border-top: 4px solid #005880;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  left: 25px;
  top: 50px;
}
/* line 50, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-logo:hover {
  background: #007bb3;
  transition: background .35s;
  -webkit-transition: background .25s;
}
/* line 52, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-logo:hover:after {
  border-top: 4px solid #007bb3;
  transition: border-top 0.35s;
  -webkit-transition: border-top 0.25s;
}
/* line 57, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul {
  font-family: sans-serif;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  /*states on first level*/
}
/* line 59, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul [class^="icon"] {
  font-size: 20px;
}
/* line 60, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a {
  position: relative;
  color: #ffffff;
  height: 50px;
}
/* line 62, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a:hover > span {
  margin-top: -50px;
  transition: margin-top 0.35s;
  -webkit-transition: margin-top 0.35s;
}
/* line 63, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a:hover > span.plone-toolbar-caret {
  opacity: 1;
}
/* line 64, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a > span {
  text-align: center;
  height: 50px;
  width: 60px;
}
/* line 66, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a > span:before {
  line-height: 50px;
}
/* line 68, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a > span + span {
  display: table-cell;
  text-align: center;
  padding: 0 8px;
  height: 50px;
  width: 60px;
  vertical-align: middle;
  background: #007bb3;
  line-height: 1em;
}
/* line 79, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn {
  z-index: 10;
  background-color: black;
  position: fixed;
  left: 0;
}
/* line 84, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn.up {
  top: 50px;
}
/* line 87, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn.down {
  bottom: 50px;
}
/* line 90, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a {
  height: 20px;
}
/* line 91, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a [class^="icon"] {
  font-size: 12px;
}
/* line 93, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a > span {
  height: 20px;
}
/* line 94, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a span:before {
  line-height: 26px;
}
/* line 95, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a span.icon-down:before {
  line-height: 20px;
}
/* line 96, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul .scroll-btn a:hover > span {
  margin-top: 0;
  transition: none;
  -webkit-transition: none;
  background: #007bb3;
}
/* line 100, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-published > span:before,
#edit-zone nav > ul a.label-state-external > span:before {
  color: #007bb3;
}
/* line 101, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-published > span + span,
#edit-zone nav > ul a.label-state-external > span:before {
  background: #007bb3;
}
/* line 102, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-internally_published > span:before {
  color: #883dfa;
}
/* line 103, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-internally_published > span + span {
  background: #883dfa;
}
/* line 104, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-pending > span:before {
  color: #e2e721;
}
/* line 105, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-pending > span + span {
  background: #e2e721;
}
/* line 106, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul li.active a.label-state-pending > span,
#edit-zone nav > ul a.label-state-pending > span:hover {
  color: #000000 !important;
}
/* line 107, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-draft > span:before,
#edit-zone nav > ul a.label-state-internal > span:before {
  color: #fab82a;
}
/* line 108, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-draft > span + span,
#edit-zone nav > ul a.label-state-internal > span + span {
  background: #fab82a;
}
/* line 109, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-private > span:before {
  color: #c4183c;
}
/* line 110, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul a.label-state-private > span + span {
  background: #c4183c;
}
/* line 115, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul {
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
}
/* line 117, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul a {
  color: #e6e6e6;
}
/* line 119, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul a:hover {
  color: #bfbfbf;
  background: rgba(26, 26, 26, 0.9);
}
/* line 124, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:last-child {
  padding-bottom: 5px;
}
/* line 125, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li > span {
  display: block;
}
/* line 126, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header > a {
  color: #007bb3;
  font-weight: 400;
}
/* line 128, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header > a:hover {
  color: #004666;
}
/* line 130, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header > span {
  font-weight: 400;
  color: #cccccc;
}
/* line 131, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > a:before {
  content: "•";
  left: 15px;
  color: #007bb3;
  position: absolute;
}
/* line 132, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > span:before {
  content: "•";
  left: 15px;
  color: #4d4d4d;
  position: absolute;
}
/* line 133, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > a:hover:before {
  color: #33bfff;
}
/* line 134, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .actionMenuSelected {
  color: #ffffff;
  font-weight: 500;
}
/* line 136, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .actionMenuSelected:hover {
  color: #ffffff;
  background: none;
  cursor: default;
}
/* line 137, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .actionMenuSelected:before {
  content: "✓" !important;
  margin-left: -3px;
}
/* line 139, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .actionMenuSelected:hover {
  color: #ffffff;
  background: none;
  cursor: default;
}
/* line 140, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > a.actionMenuSelected:before {
  color: #ffffff;
}
/* line 142, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}
/* line 143, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-caret {
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  right: 0;
  background: transparent !important;
  margin-top: 0 !important;
  top: 21px;
  opacity: .67;
  display: inline-block;
  width: 0;
  height: 0;
  right: 2px;
  padding: 0;
  vertical-align: middle;
}
/*de moment per borrar coses*/
/* line 163, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul {
  position: absolute;
  left: 60px;
  background: rgba(20, 20, 20, 0.9);
  top: 0;
  overflow-y: auto;
  /*state marker*/
  /*current*/
}
/* line 169, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li {
  width: 180px;
}
/* line 170, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li > a,
#edit-zone nav > ul ul li > span {
  padding: 5px 15px;
  height: auto;
  line-height: 20px;
}
/* line 171, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > a,
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > span {
  padding: 5px 15px 5px 30px;
  height: auto;
}
/* line 172, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul li:not(.plone-toolbar-submenu-header) > span {
  color: #ffffff;
}
/* line 173, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header {
  border-top: 1px solid rgba(255, 255, 255, 0.17);
  padding: 5px 0 0;
  margin: 5px 0 0;
}
/* line 174, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header:first-child {
  border-top: 0;
  margin: 0;
}
/* line 175, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul [class^="icon"] {
  display: inline !important;
  line-height: 0;
}
/* line 177, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul [class^="icon"]:before {
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  right: 10px;
  color: #c4183c;
  margin-top: 7px;
  top: 0;
}
/* line 188, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .state-published:after,
#edit-zone nav > ul ul .state-external:after,
#edit-zone nav > ul ul #workflow-transition-publish:after {
  right: 15px;
  content: "•";
  color: #007bb3;
  position: absolute;
  font-size: 20px;
}
/* line 189, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .state-internally_published:after,
#edit-zone nav > ul ul #workflow-transition-show_internally:after {
  right: 15px;
  content: "•";
  color: #883dfa;
  position: absolute;
  font-size: 20px;
}
/* line 190, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .state-pending:after,
#edit-zone nav > ul ul #workflow-transition-submit:after {
  right: 15px;
  content: "•";
  color: #e2e721;
  position: absolute;
  font-size: 20px;
}
/* line 191, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .state-draft:after,
#edit-zone nav > ul ul .state-internal:after,
#edit-zone nav > ul ul #workflow-transition-hide:after {
  right: 15px;
  content: "•";
  color: #fab82a;
  position: absolute;
  font-size: 20px;
}
/* line 192, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .state-private:after,
#edit-zone nav > ul ul #workflow-transition-reject:after {
  right: 15px;
  content: "•";
  color: #c4183c;
  position: absolute;
  font-size: 20px;
}
/* line 196, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul ul .plone-toolbar-submenu-header :after {
  font-size: 30px;
  right: 13px;
}
/* line 198, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-left #edit-zone {
  z-index: 5;
}
/* line 200, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-left #edit-zone nav > ul ul {
  width: 0;
  height: 100%;
}
/* line 204, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-left #edit-zone .plone-toolbar-container {
  height: 100%;
}
/* line 208, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone nav > ul ul {
  height: 0;
  max-height: 0;
  width: 180px;
}
/* line 211, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone {
  width: 120px;
  /*states*/
}
/* line 213, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone nav > ul ul {
  left: 120px;
}
/* line 214, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone nav > ul a > [class^="icon"] {
  display: table-cell;
  width: 40px;
  padding-left: 10px;
}
/* line 219, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone nav > ul a > .icon-logout {
  margin: 0;
  padding: 0;
}
/* line 223, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone nav > ul a > span + span {
  background: none;
  width: 80px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}
/* line 230, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone .plone-toolbar-caret {
  width: 0;
}
/* line 231, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li:not(.active) a:hover > span {
  background: #007bb3;
}
/* line 234, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-published:hover > span,
.plone-toolbar-expanded #edit-zone li a.label-state-external:hover > span {
  background: #007bb3;
}
/* line 236, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-published:hover > span:first-child:before,
.plone-toolbar-expanded #edit-zone li a.label-state-external:hover > span:first-child:before {
  color: #ffffff;
}
/* line 238, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-internally_published:hover > span {
  background: #883dfa;
}
/* line 240, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-internally_published:hover > span:first-child:before {
  color: #ffffff;
}
/* line 242, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-pending:hover > span {
  background: #e2e721;
}
/* line 244, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-pending:hover > span:first-child:before {
  color: #ffffff;
}
/* line 246, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-draft:hover > span,
.plone-toolbar-expanded #edit-zone li a.label-state-internal:hover > span {
  background: #fab82a;
}
/* line 248, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-draft:hover > span:first-child:before,
.plone-toolbar-expanded #edit-zone li a.label-state-internal:hover > span:first-child:before {
  color: #ffffff;
}
/* line 250, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-private:hover > span {
  background: #c4183c;
}
/* line 252, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone li a.label-state-private:hover > span:first-child:before {
  color: #ffffff;
}
/* line 254, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
  width: 120px;
}
/* line 256, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-expanded #edit-zone .plone-toolbar-logo span {
  display: inline;
}
/* line 261, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a:after {
  content: "";
  border-right: 10px solid #2a2a2a;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  right: 0;
  margin-top: -35px;
}
/* line 270, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active a > span {
  margin-top: -50px;
}
/* line 271, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a {
  background: #007bb3;
  /*state icon on white*/
}
/* line 272, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a span:before {
  color: #ffffff !important;
}
/* line 274, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a.label-state-published,
#edit-zone nav > ul > li.active > a.label-state-external {
  background: #007bb3;
}
/* line 275, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a.label-state-internally_published {
  background: #883dfa;
}
/* line 276, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a.label-state-pending {
  background: #e2e721;
}
/* line 277, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a.label-state-draft,
#edit-zone nav > ul > li.active > a.label-state-internal {
  background: #fab82a;
}
/* line 278, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active > a.label-state-private {
  background: #c4183c;
}
/* line 279, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul > li.active ul {
  display: block;
  width: 180px;
}
/*plone-toolbar-top*/
/* line 285, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone {
  position: fixed;
  height: 50px;
  width: 100%;
}
/* line 289, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 292, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-top #edit-zone .plone-toolbar-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 295, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-top #edit-zone .plone-toolbar-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 298, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-top #edit-zone .plone-toolbar-container {
    width: 1170px;
  }
}
/* line 302, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-logo:after {
  border-left: 4px solid #005880;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  left: 60px;
  top: 20px;
}
/* line 309, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-logo:hover:after {
  border-left: 4px solid #007bb3;
  transition: border-top 0.35s;
  -webkit-transition: border-top 0.25s;
}
/* line 313, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-logo,
.plone-toolbar-top #edit-zone nav,
.plone-toolbar-top #edit-zone nav > ul {
  display: inline-block;
}
/* line 314, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone nav > ul > li {
  display: inline-block;
  width: 60px;
  float: left;
}
/* line 315, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-logo {
  position: absolute;
  top: 0;
}
/* line 317, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-logo img {
  margin-top: 13px;
}
/* line 319, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone nav {
  padding-left: 60px;
  width: 100%;
}
/* line 320, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone .plone-toolbar-caret {
  border-top: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  left: 26px;
  top: 43px;
  right: inherit;
  padding: 0 !important;
}
/* line 329, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone nav > ul ul {
  left: auto;
  top: 50px;
  overflow-y: auto;
  height: 0;
}
/* line 335, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone nav > ul li.active ul {
  height: inherit;
  max-height: 1000px;
  top: auto;
}
/* line 340, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone li.active > a:after {
  border-bottom: 10px solid #2a2a2a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  right: inherit;
  margin-top: -20px;
  margin-left: 20px;
}
/* line 348, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone #personal-bar-container {
  float: right;
}
/* line 351, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top #edit-zone #plone-toolbar-more-subset {
  background: rgba(0, 0, 0, 0.9);
  float: right;
}
/* line 357, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
  width: 60px;
}
/* line 358, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone nav > ul > li {
  width: inherit;
  border-right: 1px solid #353535;
}
/* line 362, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone nav > ul a > span + span {
  width: inherit;
  padding: 0 8px 0 0;
}
/* line 366, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone nav > ul a > [class^="icon"] {
  padding-left: 0;
}
/* line 367, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone .plone-toolbar-caret {
  left: 16px;
}
/* line 368, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone li.active > a:after {
  margin-left: 10px;
}
/* line 370, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top.plone-toolbar-expanded #edit-zone #contentview-history {
  max-width: 135px;
}
/*container*/
/*moved to barceloneta grid.plone.less, needs to match grid system used on theme*/
/*switcher*/
/* line 379, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-switcher {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 100% 0;
  top: 0;
  cursor: pointer;
}
/* line 386, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone .plone-toolbar-switcher span {
  font-size: 0;
}
/* line 390, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-left-default {
  padding-left: 60px;
}
/* line 391, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-left-expanded {
  padding-left: 120px;
}
/* line 392, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top-default {
  margin-top: 60px;
}
/* line 393, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
.plone-toolbar-top-expanded {
  margin-top: 60px;
}
/* NOT mobile styles here */
@media (min-width: 769px) {
  /* line 398, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-main {
    overflow-y: auto;
  }
  /* line 401, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone {
    z-index: 5;
  }
  /* line 403, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone nav {
    overflow-x: hidden;
  }
  /* line 406, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone nav > ul ul {
    width: 0;
    height: 100%;
    background-color: transparent;
  }
  /* line 410, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone nav > ul ul > * {
    background-color: rgba(20, 20, 20, 0.9);
  }
  /* line 413, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone nav > ul ul .plone-toolbar-submenu-header {
    margin: 0;
  }
  /* line 417, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone .plone-toolbar-container {
    height: 100%;
    position: relative;
  }
  /* line 421, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone #personal-bar-container {
    position: absolute;
    bottom: 0;
    background-color: black;
    border-top: 1px solid #DDDDDD;
    box-shadow: -6px 2px 6px 2px #dddddd;
  }
  /* line 427, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone #personal-bar-container ul {
    position: fixed;
    height: 100%;
    top: 0;
  }
  /* line 433, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left #edit-zone .plone-toolbar-main {
    width: 138px;
    /* hide scroll bar */
    padding-right: 18px;
  }
  /* line 439, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left-default #edit-zone .plone-toolbar-main {
    width: 78px;
    /* hide scroll bar */
  }
}
/*mobile*/
@media (max-width: 769px) {
  /* line 448, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    position: absolute;
    width: 60px;
    left: -60px;
  }
  /* line 452, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo:after,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo:after {
    content: none;
  }
  /* line 455, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo img,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo img {
    margin-top: 12px;
  }
  /* line 458, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone {
    /*default view users left-expanded as a reference*/
    /*width: 100%;*/
    right: 0;
    left: inherit;
  }
  /* line 448, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo {
    position: absolute;
    width: 60px;
    left: -60px;
  }
  /* line 452, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo:after {
    content: none;
  }
  /* line 455, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone .plone-toolbar-logo img {
    margin-top: 12px;
  }
  /* line 463, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone nav ul ul {
    width: 200px;
  }
  /* line 464, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone nav {
    overflow-y: scroll;
  }
  /* line 469, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  body.userrole-authenticated {
    right: 0;
    width: 100%;
    height: 100%;
    left: inherit;
  }
  /* line 475, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone nav ul li ul {
    width: 0;
  }
  /* line 478, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  #edit-zone nav ul li.active ul {
    width: 180px;
  }
  /* line 482, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left-default {
    padding-left: 0px;
  }
  /* line 483, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-left-expanded {
    padding-left: 0px;
  }
  /* line 484, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-top-default {
    margin-top: 0px;
  }
  /* line 485, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-top-expanded {
    margin-top: 0px;
  }
  /* line 487, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
  .plone-toolbar-container nav {
    height: 100%;
    overflow-y: scroll;
  }
}
/* transitions for menu openings*/
/* line 500, http://localhost:8080/Plone/++plone++static/patterns/toolbar/src/css/toolbar.plone.less */
#edit-zone nav > ul li.active ul {
  display: block;
}
/* small height devices <480 apanyo*/
