<div id="edit-zone" role="toolbar" class="pat-toolbar initialized" @flyInOut>
    <div class="plone-toolbar-container">
      <nav>
        <ul class="plone-toolbar-main" *ngIf="authenticated">
          <li *ngFor="let action of actions" id="contentview-{{action.category}}">
              <a [routerLink]="[action.uri]" href="{{action.uri}}">
               <span class="icon-{{action.category}}" aria-hidden="true">
               </span>
               <span>{{ action.title }}</span>
             </a>
          </li>
          <li *ngIf="factories" id="plone-contentmenu-factories"
              [class.active]="isActive('factories')">
            <a title="Add new items inside this item" class="label-"
               (click)="toggle('factories')">
              <span class="icon-plone-contentmenu-factories" aria-hidden="true"></span>
              <span>Add new…</span>
              <span class="plone-toolbar-caret">
              </span>
            </a>
            <ul>
              <li class="plone-toolbar-submenu-header">
                <span>Add new…</span>
              </li>
              <li *ngFor="let action of factories" class="plonetoolbar-contenttype">
                <a [routerLink]="[action.uri]" href="{{action.uri}}"
                    class="contenttype-{{action.type.toLowerCase()}}">
                 {{ action.title }}
                </a>
              </li>
            </ul>
          </li>
          <li id="plone-contentmenu-workflow"
              [class.active]="isActive('workflow')">
            <a title="Change the state of this item" class="label-state-{{state}}"
               (click)="toggle('workflow')">
              <span class="icon-plone-contentmenu-workflow state-{{state}}" aria-hidden="true">
              </span>
              <span>
                <span>State:</span>
                <span>{{state}}</span>
              </span>
              <span class="plone-toolbar-caret">
              </span>
            </a>
            <ul aria-hidden="true">
              <li class="plone-toolbar-submenu-header">
                <span>
                  <span>State:</span>
                  <span class="state-{{state}}">{{state}}</span>
                </span>
              </li>
              <li *ngFor="let transition of transitions" class="plonetoolbar-workfow-transition">
                <a (click)="doTransition(transition)"
                    id="workflow-transition-{{transition.name.toLowerCase()}}">
                 {{ transition.title }}
                </a>
              </li>
            </ul>
          </li>
          <li id="portal-personaltools" class="plone-toolbar-separator" [class.active]="isActive('useractions')">
            <a href="#" (click)="toggle('useractions')">
              <span class="icon-user" aria-hidden="true"></span>
              <span>admin</span>
              <span class="plone-toolbar-caret"></span>
            </a>
            <ul>
              <li class="user-action" [class.active]="isActive('useraction')">
                <a href="#" [routerLink]="['/!!logout']" id="personaltools-logout" title="Log out">
                  Log out
                    <span class="icon-logout"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
