<div id="edit-zone" role="toolbar" class="pat-toolbar initialized">
    <div class="plone-toolbar-container">
      <nav>
        <ul class="plone-toolbar-main" >
          <li *ngFor="#link of links" [id]="'contentview-' + link.name" class="">
              <a [href]="link.url" class="">
                <span class="icon-edit" aria-hidden="true">
                </span>
                <span>{{ link.label }}</span>
              </a>
          </li>
      </ul>
      </nav>
    </div>
  </div>
