<div class="outer-wrapper">
  <header class="content-header">
  </header>
  <div class="plone-navigation"></div>
  <div id="above-content-wrapper">
    <section id="viewlet-above-content">
      <nav id="portal-breadcrumbs" class="plone-breadcrumb" role="navigation">
        <div class="container">
          <span id="breadcrumbs-you-are-here" class="hiddenStructure">You are here:</span>
          <ol aria-labelledby="breadcrumbs-you-are-here">
            <li id="breadcrumbs-home">
              <a href="/home">Home</a>
            </li>
          </ol>
        </div>
      </nav>
    </section>
  </div>
  <div class="container">
    <div class="row">
      <aside id="global_statusmessage"></aside>
    </div>
    <main id="main-container" class="row row-offcanvas row-offcanvas-right">
      <div id="column1-container">
      </div>
      <div id="content-container">
        <router-outlet></router-outlet>
      </div>
      <div id="column2-container">
      </div>
    </main><!--/row-->
  </div><!--/container-->
</div> <!--/outer-wrapper -->
<footer class="plone-footer"></footer>
