<div class="outer-wrapper">
  <header class="content-header">
  </header>
  <div id="mainnavigation-wrapper">
    <div id="mainnavigation">
      <nav class="plone-navbar" id="portal-globalnav-wrapper" role="navigation">
        <div class="container">
          <div class="plone-collapse plone-navbar-collapse" id="portal-globalnav-collapse">
            <ul class="plone-nav plone-navbar-nav" id="portal-globalnav">
              <li id="portaltab-index_html" class="selected">
                <a href="/home">Home</a>
              </li>
              <li id="portaltab-news">
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div id="above-content-wrapper">
    <section id="viewlet-above-content">
      <nav id="portal-breadcrumbs" class="plone-breadcrumb" role="navigation">
        <div class="container">
          <span id="breadcrumbs-you-are-here" class="hiddenStructure">You are here:</span>
          <ol aria-labelledby="breadcrumbs-you-are-here">
            <li id="breadcrumbs-home">
              <a href="/home">Home</a>
            </li>
          </ol>
        </div>
      </nav>
    </section>
  </div>
  <div class="container">
    <div class="row">
      <aside id="global_statusmessage"></aside>
    </div>
    <main id="main-container" class="row row-offcanvas row-offcanvas-right">
      <div id="column1-container">
      </div>
      <div id="content-container">
        <router-outlet></router-outlet>
      </div>
      <div id="column2-container">
      </div>
    </main><!--/row-->
  </div><!--/container-->
</div> <!--/outer-wrapper -->
<footer class="plone-footer"></footer>
