<div id="mainnavigation-wrapper">
  <div id="mainnavigation">
    <nav class="plone-navbar" id="portal-globalnav-wrapper" role="navigation">
      <div class="container">
        <div class="plone-collapse plone-navbar-collapse" id="portal-globalnav-collapse">
          <ul class="plone-nav plone-navbar-nav" id="portal-globalnav">
            <li id="portaltab-index_html" class="selected">
              <a href="/home">Home</a>
            </li>
            <li id="portaltab-news">
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
