
<div @fade>
  <title-tile [title]="model.title"></title-tile>
  <p class="description">{{ model.description }}</p>
  <div *ngIf="model.text" class="body" [innerHTML]="model.text.data"></div>

  <div class="contents" *ngIf="model.member">
    <article class="tileItem" *ngFor="let item of model.member">
      <h2 class="tileHeadline">
        <a class="summary url" href="{{utility.getUrl(item)}}"
           [routerLink]="[utility.getUrl(item)]">{{item.title}}</a>
      </h2>
      <div class="tileBody">
        <span class="description">{{item.description}}</span>
      </div>
      <div class="tileFooter">
        <a href="{{utility.getUrl(item)}}"
           [routerLink]="[utility.getUrl(item)]">Read More…</a>
      </div>
      <div class="visualClear"><!-- --></div>
    </article>
  </div>
</div>
