
<div>
  <title-tile [title]="model.title"></title-tile>
  <p class="description">{{ model.description }}</p>
  <div *ngIf="model.text" class="body" [innerHTML]="model.text.data"></div>

  <div class="contents">
    <article class="tileItem" *ngFor="let item of items">
      <h2 class="tileHeadline">
        <a class="summary url" href="{{item.getPath.replace('/Plone', '')}}" title="News Item">{{item.title}}</a>
      </h2>
      <div class="tileBody">
        <span class="description">{{item.description}}</span>
      </div>
      <div class="tileFooter">
        <a href="{{item.getPath.replace('/Plone', '')}}">Read More…</a>
      </div>
      <div class="visualClear"><!-- --></div>
    </article>
  </div>
</div>
