<div id="portal-searchbox">
  <form id="searchGadget_form" action="http://localhost:8080/Plone18/@@search" role="search" data-pat-livesearch="ajaxUrl:http://localhost:8080/Plone18/@@ajax-search" class="pat-livesearch">
    <div class="LSBox">
      <label class="hiddenStructure" for="searchGadget">Search Site</label>

      <input name="SearchableText" type="text" size="18" id="searchGadget" title="Search Site" placeholder="Search Site" class="searchField" autocomplete="off"><ul class="livesearch-results" style="display: none;"></ul>

      <input class="searchButton" type="submit" value="Search">

      <div class="searchSection">
        <input id="searchbox_currentfolder_only" class="noborder" type="checkbox" name="path" value="/Plone18">
        <label for="searchbox_currentfolder_only" style="cursor: pointer">only in current section</label>
      </div>
    </div>
  </form>
</div>
